entrypoint = "app/page.tsx"
modules = ["nodejs-20"]

run = "npm run dev -- -p 3000 -H 0.0.0.0"

[nix]
channel = "stable-24_05"

[env]
NODE_ENV = "development"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
run = ["sh", "-c", "npm run build && npm run start -- -H 0.0.0.0"]
deploymentTarget = "cloudrun"
